body{
  background-color: rgb(98, 215, 143);
}
.pokemon-header {
  padding: 10px;
  font-weight: 700;
}
.pokedex {
  text-align: center;
  margin-top: 90px; 
  display: flex;
  flex-direction: column;
  text-transform: uppercase;

color: black;

}
.modal {
  text-align: center;
  font-size: larger;
  width: auto;
  margin: auto;
 
}
.modal-dialog{
  
    position: fixed;
    margin:auto;
    width: auto;
    height: auto;
}
.pokemon-img {
  width: 50px;
  height: 50px;
}
 .list-group-item{
 
  background-color:rgb(98, 215, 143);
  border: none;
} 
.pokemon-button {
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 50px;
  margin: 10px;
  height: 100px;
  width: 200px;
  color: black;
  text-transform: capitalize;
  font-family: 'Pokemon Solid', sans-serif;
                                                
}
.pokemon-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: auto;
}