body{
    background-color: rgb(98, 215, 143);
}
.pokemon-header {
    padding: 10px;
    font-weight: 700;
  }

  .pokedex {
    text-align: center;
    margin-top: 90px; 
    display: flex;
    flex-direction: column;
  
 
    
  }
  .modal {
    text-align: center;
    font-size: larger;

  }
  .modal-dialog{
    position: fixed;
    margin: auto;
    width: 50%;
    height: 100%;
    right: 0px;
    

  }
  .pokemon-img {
    width: 300px;
    height: 300px;
  }

  .list-group-item{
    margin: 0 20%;
    background-color:rgb(98, 215, 143);
    border: none;
  }

  .pokemon-button{
   width: 33%;
   height: 200px;
    border-radius: 20px;
    font-size: 40px;
  }